# Python
*.py[cod]
*.pyo
__pycache__/
*.so

# Virtualenv
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Unit test / Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
